.container {
	width: 50%;
	margin: auto;
	box-shadow: 0px 0px 4px 0px gray;
	border-radius: 10px;
	padding-bottom: 20px;
	position: relative;
	display: grid;
	color: white;
	background-color: #41284f;
}
.imageContainer {
	width: 100%;
	min-height: 350px;
	position: relative;
}
.imageContainer img {
	object-fit: cover;
	height: 50%;
	border-radius: 10px 10px 0px 0px;
}
.button {
	padding: 10px 25px;
	background-color: #ffffff;
	color: black;
	font-size: 0.8rem;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 0px 0px 4px 0px gray;
}

@media screen and (max-width: 950px) {
	.container {
		width: 90%;
		margin: auto;
	}
	.imageContainer {
		min-height: 250px;
	}
}
