.container {
	width: 50%;
	margin: auto;
	box-shadow: 0px 0px 4px 0px gray;
	border-radius: 10px;
	padding-bottom: 20px;
	position: relative;
	display: grid;
	color: white;
	background-color: #41284f;
}
.imageContainer {
	width: 100%;
	min-height: 350px;
	position: relative;
}
.imageContainer img {
	object-fit: cover;
	height: 50%;
	border-radius: 10px 10px 0px 0px;
}
.button {
	padding: 10px 25px;
	background-color: #ffffff;
	color: black;
	font-size: 0.8rem;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 0px 0px 4px 0px gray;
}
.svg {
	width: 30px;
	fill: #fff;
	padding: 5px;
	background-color: #674268;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
	border-radius: 2px 10px 2px 2px;
	box-shadow: 0px 0px 2px 0px gray;
}
.svg:hover {
	cursor: pointer;
	animation: svgAnim 500ms forwards;
}
@keyframes svgAnim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		fill: aqua;
		padding: 8px;
		width: 40px;
		border-radius: 10px;
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 950px) {
	.container {
		width: 90%;
		margin: auto;
	}
	.imageContainer {
		min-height: 250px;
	}
}
